h1 img
{
    width: 40px;
    margin-right: 3px;
}

h1
{
    color: #7af4ff;
    font-family: Goldman;
    font-weight: normal;
    font-size: 50px;
    margin: 0.2em 0;
}

h2
{
    color: #7af4ff;
    font-family: Goldman;
    font-weight: normal;
    font-size: 30px;
    margin: 0.4em 0;
}
