canvas
{
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    aspect-ratio: 1/1;
}

.cardRank
{
    width: 80% !important;
    height: 500px !important;
}
.divFlex
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4em;
}

.divFlex > div
{
    width: 500px;
}


@media screen and (orientation: landscape) and (max-height: 450px)
{
    .divFlex > div
    {
        width: 100%;
    }
    .divFlex
    {
        margin-top: 0em;
    }

    .divFlex > div
    {
        width: 50%;
    }
    
    .divFlex > div:last-child
    {
        width: 100%;
        text-align: center;
    }

    div.cardRank
    {
        width: 100% !important;
        height: 100%;
    }

    .divFlex > div:last-child h1
    {
        text-align: center;
    }
}

@media screen and (orientation: portrait) and (max-width: 450px)
{
    .divFlex > div
    {
        width: 100%;
    }
    
    .divFlex
    {
        margin-top: 1em;
    }

    .infoGamePage
    {
        padding-bottom: 2em;
    }

    div.cardRank
    {
        margin: 1em auto !important;
        width: 100% !important;
    }
}
